@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner {
    @apply before:tw-absolute before:tw-content-[''] before:tw-w-full before:tw-h-full before:tw-bg-banner before:tw-top-0 before:tw-left-0 before:tw-duration-300 before:tw-opacity-0 before:tw-pointer-events-none hover:before:tw-opacity-100;
  }
}

body {
  line-height: 24px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: 'Libre Franklin', sans-serif !important;
  color: #747474;
}
